body{
    padding: 0;
    margin: 0;
    font-family: 'Poor Story', cursive;
}


.outer-container{
    height: 678px;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    
}

.topBar{
    height: 170px;
    width: 100%;
    background-color: black;
}

.topBar h1{
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
}

.inner-container{
    margin-top: 170px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    width: 100%;
    height: 84%;
    background-color: black;
    position: relative;
    
}

.dashboard-container{
    background-color: rgba(255, 255, 255, 0.979);
    /* opacity: 0.7; */
    border-bottom: black solid 2px;
    width: 100%;
    position: fixed;
    height: 168px;
    display: flex;
    flex-direction: row;
    z-index: 100;
    top: 0px;
    
}
.colors-container{
    
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tools-container{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: row;
}

.save-load{
    width:15%;
    height: 100%;
}
.color-stripe{
    width: 100%;
    height: 86.7%;
    padding-top: 2%;
    padding-bottom: 2%;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.color-circle{
    height: 22%;
    width: 40px;
    border-radius: 100%;
    border: black solid thin;
    font-size: 1.2em;
    margin: 7px 0%;
    

}
.text{
    font-size: 1.25em;
    margin-bottom: 0px;
}
.paint-area-container{
    background-color: white;
    width: 500px;
    height: 500px;
}

.bottomBar{
    height: 8%;
    background-color: cornflowerblue;
}

#arenaSize{
    width: 90px;
    margin: 0 20px;
}
