body{
    padding: 0;
    margin: 0;
    font-family: 'Poor Story', cursive;
}


.outer-container{
    height: 678px;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    
}

.topBar{
    height: 170px;
    width: 100%;
    background-color: black;
}

.topBar h1{
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
}

.inner-container{
    margin-top: 170px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    width: 100%;
    height: 84%;
    background-color: lightgray;
    position: relative;
    
}

.dashboard-container{
    background-color: rgba(255, 255, 255, 0.86);
    /* opacity: 0.7; */
    border-bottom: black solid 2px;
    width: 100%;
    position: fixed;
    height: 168px;
    display: flex;
    flex-direction: row;
    z-index: 100;
    top: 0px;
    
}
.colors-container{
    
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tools-container{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: row;
}

.save-load{
    width:15%;
    height: 100%;
}
.color-stripe{
    width: 100%;
    height: 86.7%;
    padding-top: 2%;
    padding-bottom: 2%;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.color-circle{
    height: 22%;
    width: 40px;
    border-radius: 100%;
    border: black solid thin;
    font-size: 1.2em;
    margin: 7px 0%;
    cursor: pointer;
    

}
.text{
    font-size: 1.25em;
    margin-bottom: 0px;
    cursor: default;
}
.paint-area-container{
    background-color: white;
    width: 500px;
    height: 500px;
    border-right: black 1px dotted;
    border-bottom: black 1px dotted;
}

.bottomBar{
    height: 8%;
    background-color: cornflowerblue;
}

#arenaSize{
    width: 90px;
    margin: 0 20px;
    
}

.colorPallet{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.colorPallet h3{
    margin-bottom: 0px;
    margin-top: 0px;
}

.colorPallet p{
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 0.7em;
}

#palletColor{
    width: 50px;
    height: 20%;
    margin: 2px 7px;
    font-size: 0.8em;
}

#pallet{
    font-family: 'Poor Story', cursive;
    font-size: 1.1em;
}

.z{
    width: 30%;
    display: inline-block;
    background-color: lightgrey;
    z-index: 12;
}

.saveBox{
    position: fixed;
    width: 12%;
    height: 16%;
    right: 30px;
    bottom: 15px;
    background-color: black;
    z-index: 123456;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.saveBox button{
    margin: 5px;
    height: 35%;
    font-size: 1.75em;
    font-family: 'Poor Story', cursive;
}